<a href="https://colab.research.google.com/github/SharonneKemboi/EDA-EXERCISE/blob/master/EDA_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

# Load the dataset
url = "https://raw.githubusercontent.com/dphi-official/First_ML_Model/master/titanic.csv"
df = pd.read_csv(url)

# Check for missing values in the 'Fare' column
fare_missing = df['Fare'].isnull().sum()

# Count male and female passengers
gender_counts = df['Sex'].value_counts()

fare_missing, gender_counts

(0,
 Sex
 male      577
 female    314
 Name: count, dtype: int64)

In [5]:
# Re-run the code to calculate the proportion of passengers who survived

# Load the dataset
df = pd.read_csv(url)

# Calculate the proportion of passengers who survived
survival_rate = round(df['Survived'].mean(), 2)
survival_rate

0.38

In [6]:
# Calculate the median Fare
median_fare = round(df["Fare"].median(), 4)
median_fare

14.4542

In [7]:
# Calculate survival rates by gender
survival_by_gender = df.groupby("Sex")["Survived"].mean()
print("Survival by Gender:\n", survival_by_gender)

# Calculate survival rates by class
survival_by_class = df.groupby("Pclass")["Survived"].mean()
print("\nSurvival by Class:\n", survival_by_class)

# Define children as passengers under 18
df["Child"] = df["Age"] < 18

# Calculate survival rates for children vs. adults
survival_by_age = df.groupby("Child")["Survived"].mean()
print("\nSurvival by Age Group (Children vs. Adults):\n", survival_by_age)

Survival by Gender:
 Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

Survival by Class:
 Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

Survival by Age Group (Children vs. Adults):
 Child
False    0.361183
True     0.539823
Name: Survived, dtype: float64

In [8]:
# Create a subset of the data for only survived passengers
survived_passengers = df[df["Survived"] == 1]

# Count the number of survived passengers who embarked from 'Southampton' ('S')
survived_from_southampton = survived_passengers[survived_passengers["Embarked"] == "S"].shape[0]

survived_from_southampton

217

In [9]:
# Get the five highest fares
top_fares = df['Fare'].nlargest(5)
print(top_fares)

258    512.3292
679    512.3292
737    512.3292
27     263.0000
88     263.0000
Name: Fare, dtype: float64

In [10]:
# Calculate the median age of the passengers
median_age = round(df["Age"].median(), 4)
median_age

28.0

In [11]:
# Find the most common number of siblings/spouses (mode of SibSp column)
most_common_sibsp = df["SibSp"].mode()[0]
most_common_sibsp

0

In [12]:
# Check the survival rate by age group
df['Age_Group'] = pd.cut(df['Age'], bins=[0, 12, 18, 40, 60, 100], labels=['Child', 'Teen', 'Adult', 'Middle-Aged', 'Senior'])

# Calculate survival rates
survival_rates = df.groupby('Age_Group')['Survived'].mean()
print(survival_rates)

Age_Group
Child          0.579710
Teen           0.428571
Adult          0.388235
Middle-Aged    0.390625
Senior         0.227273
Name: Survived, dtype: float64

<ipython-input-12-85960bb29374>:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  survival_rates = df.groupby('Age_Group')['Survived'].mean()